.topnav{
  overflow: hidden;
  background-color: purple;
}
.topnav a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 5px 94px;
  font-size: 17px;
  margin: 32px;

}
