#contact {
  text-align: center;
  font-size: 4em;
  background-color: green;
  border: 10px solid;
}
.container-contact {
  background-image: url("../image/1.jpg");
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: yellow;
}
h1 {
  font-size: 45px;
}
p {
  font-size: 30px;
}
.container-me {
  border: 10px solid;
  border-color: #b3ffe6;
}