#contact {
  text-align: center;
  font-size: 4em;
  background-color: #ffffff;
  border: 5px solid black;
}
.container-contact {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}
h1 {
  font-size: 45px;
}
p {
  font-size: 30px;
}
.container-me {
  border: 2px solid;
  border-color: black;
}
.container-order {
  padding: 16px;
  width: 100%;
  margin: 0px;
  display: inline-block;
  border: none;
  border: 15px solid #black;
  background-color: #ffffff;
  font-size: 20px;
  text-transform: center;
}
input[type=text],
input[type=password] {
  width: 50%;
}
#order {
  background-color: #d9d9d9;
  font-size: 2em;
  text-align: center;
  font-style: italic;
}
form {
  width: 80%;
  margin: auto;
}
label,
input {
  display: inline-block;
  text-align: center;
}
label {
  width: 30%;
  text-align: center;
}
label+input {
  width: 30%;
  margin: 0 30% 0 4%;
}
​